/* Sud Web 2013 */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Common
*/

body,
input,
select,
textarea {
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h1,
h2,
.lieu,
.date,
.button {
	font-family: 'Cabazon', 'Garamond', serif;
}

h1,
h2 {
	color: #402f33;
	border-bottom: 1px solid #F8B319;
	margin: 1.5em 0 .5em 0;
	padding-bottom: 0.5em;
	text-align: center;
}

img,
.button {
	box-shadow: inset 0 0 .1em #402f33;
	border-radius: 3px;
}

abbr {
	color: inherit;
	border-bottom: none;
	cursor: auto;
	text-transform: uppercase;
}
abbr[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
.partenaires {
	padding-top: 2em;
	padding-bottom: 2em;
}
.partenaires a:hover,
.partenaires a:focus {
	border-bottom: 1px solid #F8B319;
}
.partenaires img {
	box-shadow: none;
}

/* -----------------------------------------
   Common
----------------------------------------- */

header {
	background: #5880c4 url(../img/PalaisDesPapes.jpg) center top no-repeat;
	height: 415px;
	box-shadow: inset 0 -2px 5px #402f33;
}

.logo {
	display: block;
	position: relative;
	left: 320px;
	bottom: -250px;
	box-shadow: none;
}
.first-row {
	margin-top: 6em;
}

#content {
	padding: .5em 0 2em 0;
	background: #f1f1f1 url(../img/natural_paper.png) top center repeat;
}

.venue {
	margin: 1em 0 2em;
}

.lieu,
.date {
	line-height: 1.2;
	font-size: 1.2em;
	text-shadow: 0 1px 0 #6b121f;
	color: #B32E2D;
}

.lieu {
	float: left;
}

#map{
  height: 450px;
  position: relative;
  width: 100%;
}


.date {
	float: right;
	margin-right: .5em;
}

li img {
	background: #FFF;
	padding: 5px 10px;
}

.center {
	text-align: center;
}

.button {
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	padding: 10px 20px;
	background: #B32E2D;
	color: #FFF;
	text-shadow: 0 1px 0 #B32E2D;
}

.button:hover,
.button:focus {
	color: #402f33;
	background: #F8B319;
	text-shadow: 0 1px 0 #FFFFFF;
}

h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

h2 {
	font-size: 3em;
	margin-bottom: .5em;
}

p,
li {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
    margin-bottom: .5em;
}

table tbody tr td {
    font-size: 1.5em;
    line-height: 1.2em;
}

figcaption {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: .5em;
	font-style: italic;
}

.th img{
  display: inline-block;    /* to benefit from centering alignment */
}

/*
 * Speakers and Talks details
 */
.talks-detail dt{
  clear: both;
  color: #c40423;
  font-size: 2.2em;
  margin: 0 0 .5em 0;
  padding: 1.5em 15px 0;    /* same as .column */
}
.talks-detail dt:first-child{
  padding-top: 0;
}

.talks-detail dd{
  font-size: 1.7em;   /* same as p, li */
}
  .talks-detail dd p,
  .talks-detail dd li{
    font-size: 1em;
  }
  .talks-detail dd p:last-child{
    margin-bottom: 0;
  }

.talks-detail .links:before{
  content: "Quelques liens :";
  font-style: italic;
}

.connect a {
	display: inline-block;
	padding: .2em .5em .2em 0;
}
.connect a::before {
	content: "";
	display: inline-block;
	position: relative;
	top: 20px;
	margin-top: -20px;
	width: 50px;
	height: 53px;

	background: url(../img/icones.png) no-repeat left top;
}
.connect .twitter::before {
	background-position: -60px top;
}
.connect .facebook::before {
	background-position: -120px top;
}
.connect .lanyrd::before {
	background-position: -180px top;
}

.connect .newsletter:hover::before,
.connect .newsletter:focus::before {
	background-position: left -75px;
}
.connect .twitter:hover::before,
.connect .twitter:focus::before {
	background-position: -60px -75px;
}
.connect .facebook:hover::before,
.connect .facebook:focus::before {
	background-position: -120px -75px;
}
.connect .lanyrd:hover::before,
.connect .lanyrd:focus::before {
	background-position: -180px -75px;
}

.connect .newsletter:active::before {
	background-position: left -150px;
}
.connect .twitter:active::before {
	background-position: -60px -150px;
}
.connect .facebook:active::before {
	background-position: -120px -150px;
}
.connect .lanyrd:active::before {
	background-position: -180px -150px;
}

footer {
	padding-top: 2em;
	padding-bottom: 0;
	background-color: #402f33;
	color: #FFFFFF;
	box-shadow: inset 0 2px 5px rgba(0,0,0,1);
}

footer p,
footer li {
	margin-bottom:0;
}

footer li {
	display: inline;
}

footer a {
	color: #FFFFFF;
}
footer a:hover,
footer a:focus {
	color: #F8B319;
}

.programme table {
	width: 100%;
	border-radius: 5px;
	border-collapse: collapse;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

/**
 * Weezevent cash machine (oh really?)
 */
iframe, #map{
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.1);
  -ms-box-shadow: 0 2px 10px rgba(0,0,0,.1);
  -o-box-shadow: 0 2px 10px rgba(0,0,0,.1);
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

/**
 * Sponsors
 */
.level-gold img{
  height: 160px;
  width: 160px;
}

.level-silver img{
  height: 120px;
  width: 120px;
}

/**
 * Tabs & pills (backport of Fundation 3.x)
 */
.tabs.pill{
  margin-left: -15px; /* same as .tabs > li margin-left, inverted */
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  white-space: nowrap;
}
.tabs > li{
  display: inline-block;
  list-style: none;
  margin: 15px;
}
  .tabs.pill > li a{
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;

    background: #B32E2D;
    color: #fff;
    display: block;
    font-family: sans-serif;
    height: 36px;
    line-height: 36px;
    padding: 0 23.8px;
    text-decoration: none;
  }

  .tabs.pill > li a:hover,
  .tabs.pill > li.active a{
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 10px #B32E2D;
    -moz-box-shadow: 0 0 10px #B32E2D;
    -ms-box-shadow: 0 0 10px #B32E2D;
    -o-box-shadow: 0 0 10px #B32E2D;
    box-shadow: 0 0 10px #B32E2D;
    color: #B32E2D;
  }

/**
 * In between portrait and landscape
 *
 *
 */
@media only screen and (max-width: 900px),
	   only screen and (max-height: 600px) {

header {
	height: 200px;
	background-size: cover;
}

.logo {
	max-width: 160px;
	position: static;
}

.lieu,
.date {
	display: block;
	float: none;;
	text-align: center;
}
.first-row {
	margin-top: 0;
}

h1,
h2 {
	font-size: 2em;
	margin-top: 0;
}
p,
li {
	font-size: 1.2em;
}

#orateurs dt{
  font-size: 1.7em;
}
#orateurs dd{
  font-size: 1.2em;
}

.tabs.pill{
  white-space: normal;
  margin-left: 0;
}
  .tabs.pill li{
    margin: 0 0 0 -4px;
  }

  .tabs.pill > li a{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

}

/**
 * From mobile device to portrait tablets
 *
 *
 */
@media only screen and (max-width: 649px) {
	thead {
		display: none;
	}
  table tbody tr td {
    font-size: 1.2em;
    line-height: 1em;
  }

	.programme td {
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.programme table .time {
		width: 4em;
		height: 100%;
		float: left;
	}
	.programme table .speaker {
		clear: both;
		padding-left: 4.2em;
	}
}

/**
 * HiDPI screens
 *
 *
 */
@media (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (-webkit-min-device-pixel-ratio: 1.5),
         (min-resolution: 1.5dppx) {

	#content {
		background-image: url(../img/natural_paper_@2x.png);
	}
}